<thead>
    <tr id="th_table">
        <th class="text_center" style="width:30px;">Resultat</th>
        <th class="text_center" style="width:100px">Date</th>
        <th class="text_center" style="width:470px">Match</th>
    </tr>
</thead>
<tbody id="table_bet_body">

    {% for bet in bets %}
        <tr id="{{ bet.id }}" class="">
            <td class="text_center">
                {% if bet.result == true %}
                    <i class="icon icon-thumbs-up" style="color:#5BB75F"></i>
                {% elseif bet.result is null %}
                {% elseif bet.result == false %}
                    <i class="icon icon-thumbs-down" style="color:#f00"></i>
                {% endif %}
            </td>
            <td class="text_center">
                {{ bet.date | date("d.m.Y") }}
            </td>
            <td class="text_left">
                {{ bet.firstTeam.name }} - {{ bet.secondTeam.name }}
                <i class="icon icon-circle-arrow-right arrow_right"></i>
            </td>
        </tr>
    {% endfor %}
</tbody>

<style type="text/css">

    .actions {
        padding: 0 5px 0 5px;
    }

    .actions .icon-remove, .icon-edit {
        margin: 2px 0 4px 0;
    }

    #th_table {
        color: #333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: whiteSmoke;
        background-image: -moz-linear-gradient(top, white, #E6E6E6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
        background-image: -webkit-linear-gradient(top, white, #E6E6E6);
        background-image: -o-linear-gradient(top, white, #E6E6E6);
        background-image: linear-gradient(to bottom, white, #E6E6E6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        border: 1px solid #E6E6E6;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    }

    #th_table th{
        border-left:1px solid #E6E6E6;
    }

    #main_table tbody tr td {
        position:relative;
    }

    #main_table tbody tr:hover {
        background: #daf0ff;
        cursor:pointer;
    }

    #main_table tbody td .arrow_right {
        float:right;
        margin-top:3px;
        display:none;
    }

    .clicked {
        background: #daf0ff;
    }

</style>

<script type="text/javascript">

    var lastDetails = 0;

    $(function(){
        $('#table_bet_body > tr').on('mouseenter', function() {
            if (!$(this).hasClass('clicked')) {
                $(this).children('td').children('.arrow_right').show();
            }
        });

        $('#table_bet_body > tr').on('mouseleave', function() {
            if (!$(this).hasClass('clicked')) {
                $(this).children('td').children('.arrow_right').hide();
            }
        });

        $('#table_bet_body tr').on('click', function(){
            var id = $(this).attr('id');
            showDetails(id);
        });

        if ($('#table_bet_body > tr').length > 0) {
            showDetails($('#table_bet_body > tr:first-child').attr('id'));
        }
    });

    function showDetails(id) {
        if (id != lastDetails) {

            $("#" + lastDetails).removeClass("clicked");
            $('#' + lastDetails + ' > td:last-child > .arrow_right').hide();
            $("#" + id).addClass("clicked");
            $('#' + id + ' > td:last-child > .arrow_right').show();
            $('#icon_between_two_team').removeClass('icon-bolt').addClass('icon-refresh icon-spin');

            lastDetails = id;

            getBet(id);
        }
    }

    function getBet(id) {
        $.ajax({
            type : 'GET',
            url: Routing.generate('bets_get', {id: id}),
            success: function (data) {
                $('#icon_between_two_team').removeClass('icon-refresh icon-spin').addClass('icon-bolt');

                $('#first_team').text(data.firstTeam.name);
                $('#second_team').text(data.secondTeam.name);
                $('#league').text(data.league.name);
                $('#type').text(data.type);
                $('#bet').text(data.bet);
                $('#odds').text(data.odds);

                $('#stake').empty();
                if ( null !== data.stake ) {
                    if ( data.stakeType == 'percent' ){
                        var type = '%';
                    } else if (data.stakeType == 'euro' ) {
                        var type = '€';
                    }
                    $('#stake').text(data.stake + ' ' + type);
                }

                $('#gain_loss').empty();
                if ( null !== data.gainLoss ) {
                    $('#gain_loss').text(data.gainLoss + ' €');
                }

                $('#profit').empty();
                if ( null !== data.profit ) {
                    $('#profit').text(data.profit + ' %');
                }

                $('#country').empty();
                if ( null !== data.league.country ) {
                    $('#country').text(' - ' + data.league.country);
                }

                $('.result_thumb').empty();
                if ( null !== data.result ) {
                    if ( true === data.result ) {
                        $('.result_thumb').html('<i class="icon icon-thumbs-up"></i>');
                    } else {
                        $('.result_thumb').html('<i class="icon icon-thumbs-down"></i>');
                    }
                }

                $('#link_edit').attr('href', Routing.generate('bets_edit', {id: data.id}));
            }
        });
    }
</script>
