<thead>
    <tr>
        <th class="ratio2 left">Date</th>
        <th class="ratio4 left">Match</th>
        <th class="ratio4 left">Type de paris</th>
        <th class="ratio2 left">Pari</th>
        <th class="ratio1 center">Cote</th>
        <th class="ratio1 center">Mise %</th>
        <th class="ratio1 center">Mise €</th>
        <th class="ratio1 center">Résultat</th>
        <th class="ratio1 center">G/P €</th>
        <th class="ratio1 center">P %</th>
        <th class="ratio4 left">Actions</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="ratio2 left">20/20/2000</td>
        <td class="ratio4 left">Olypique Lyonnais - Paris Saint Germain</td>
        <td class="ratio4 left">Nombre de but marqué en 1ère mi-temps</td>
        <td class="ratio2 left">+1,5</td>
        <td class="ratio1 center">2.30</td>
        <td class="ratio1 center">3</td>
        <td class="ratio1 center">4,5</td>
        <td class="ratio1 center">réussi</td>
        <td class="ratio1 center">16,6</td>
        <td class="ratio1 center">8</td>
        <td class="ratio4 left">
            <button class="btn actions">
                <span class="icon-edit"></span>
            </button>
            <button class="btn btn-danger actions">
                <span class="icon-remove icon-white"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td class="ratio2 left">20/20/2000</td>
        <td class="ratio4 left">Olypique Lyonnais - Paris Saint Germain</td>
        <td class="ratio4 left">Nombre de but marqué en 1ère mi-temps</td>
        <td class="ratio2 left">+1,5</td>
        <td class="ratio1 center">2.30</td>
        <td class="ratio1 center">3</td>
        <td class="ratio1 center">4,5</td>
        <td class="ratio1 center">réussi</td>
        <td class="ratio1 center">16,6</td>
        <td class="ratio1 center">8</td>
        <td class="ratio4 left">
            <button class="btn actions">
                <span class="icon-edit"></span>
            </button>
            <button class="btn btn-danger actions">
                <span class="icon-remove icon-white"></span>
            </button>
        </td>
    </tr>
</tbody>

{% block stylesheets %}
    {% stylesheets
        '@SweepoBettingBundle/Resources/public/css/table.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}