{% extends "SweepoCoreBundle:Layouts:main.html.twig" %}

{% block container %}

    <div id="action_table">
        <button class="btn btn-success"><span class="icon-plus icon-white"></span>Ajouter</button>
        <button class="btn"><span class="icon-filter"></span>Filtres</button>
    </div>

    <table id="main_table" class="table"></table>

{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@SweepoBettingBundle/Resources/public/css/account.less'
        filter='less,?yui_css'
    %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript %}
    {% javascripts
        '@SweepoBettingBundle/Resources/public/js/account.js'
        filter='yui_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}