#action_table {
    padding: 5px 5px 5px 5px;
    border: 1px #DFDFDF solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#action_table .btn span {
    margin-right:5px;
}

#main_table {
    margin-top:20px;
    width: 650px;
}

.side_table {
    float:left;
    width:650px;
}

#loading_table {
    margin-top:45px;
    width:650px;
}

#progress_bar_table {
    width:18%;
    height:16px;
    margin:0 auto;
}

#details {
    width:330px;
    top:-4px;
    right:67px;
    margin:20px 5px 0 0;
    float:right;
    border: 1px solid #E6E6E6;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
}

#position_details {
    height:100%;
    width:100%;
    position:relative;
}

#position_details p:last-child {
    float:right;
    margin-right:10px;
}

.match {
    height:31px;
    width:300px;
    text-align: center;
    padding-top: 11px;
    position:absolute;
}

.match .bkg_black {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.45;
    filter: alpha(opacity=45);
    background:#000;
    z-index: 1;
}

.match .title_team {
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

#match1 {
    top:17px;
    left:15px;
}

#match2 {
    top:67px;
    left:15px;
}

.round {
    height:25px;
    width:23px;
    background:#fff;
    position:absolute;
    top: 50px;
    left: 150px;
    border-radius: 35px;
    padding-left:2px;
    color:#FF5C00;
    z-index: 2;
    text-align: center;
    line-height:25px;
}

.info_match {
    position:absolute;
    top:146px;
    left:0px;
    height:45px;
    width:330px;
    line-height:45px;
    color:#fff;
}

.info_match .bkg_black {
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    background:#000;
    opacity: 0.45;
    filter: alpha(opacity=45);
    z-index: 1;
}

.text_info_match {
    color: white;
    font-size: 14px;
    position: relative;
    z-index: 3;
    padding: 0 10px 0 10px;
}

.rest_details {
    padding:10px;
    margin-top:15px;
    width:330px;
}

.rest_details tr td:first-child {
    float:right;
    width:23px;
}

.rest_details tr td:last-child {
    width:292px;
}