#action_table {
    margin: 0 0 0 10px;
}

#action_table .btn span {
    margin-right:5px;
}

#main_table {
    margin: 1%;
    width: 98%;
}

#loading_table {
    margin-top:15px;
}

#progress_bar_table {
    width:18%;
    height:16px;
    margin:0 auto;
}

#select_league {
    float:left;
    margin-right: 5px;
}

#add_bet {
    display:none;
    margin:18px 0 18px 0;
    background-color: #EDEDED;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#F9F9F9), to(#EDEDED));
    background-image: -moz-linear-gradient(top, #F9F9F9, #EDEDED);
    background-image: -ms-linear-gradient(top, #F9F9F9, #EDEDED);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #EDEDED));
    background-image: -webkit-linear-gradient(top, #F9F9F9, #EDEDED);
    background-image: -o-linear-gradient(top, #F9F9F9, #EDEDED);
    background-image: linear-gradient(top, #F9F9F9, #EDEDED);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #D4D4D4;
    padding:15px 0 15px 0;
    position:relative;

    .select2-container {
        width:250px;
        margin-bottom:10px;
    }

    select {
        width:250px;
    }

    input[type="text"], input[type="integer"] {
        width:235px;
    }

    i {
        position:absolute;
        top:9px;
        right:9px;
        cursor:pointer;
    }
}