body {
    background: #BDDDEB;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color:@color;
}

#main {
    margin-top:60px;
}

.alert {
    width:94%;
    margin: 0 1% 20px 1%;
}

#container {
    width:96%;
    background: #fff;
    margin: 0 1% 0 1%;
    padding:1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}